:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--main-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scrollbar-thumb: #454a4d;
  --scrollbar-thumb-hover: #575E62;

  --product-icon-size: 48px;
  --product-tag-color: #e5e5e5;
  --product-tag-separator: #4d4d4d;

  --main-background: #252735;
  --card-background: #323648;

  --input-color: #383d54;
  --input-color-hover: #404664;

  --white: rgba(255, 255, 255, 0.87);
  --purple: #9494ff;
  --purple-dark: #7676ff;
  --green: #02a499;
  --yellow: #f8b425;
  --red: #ec4561;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

ul {
    list-style: none;
}

.product_red {
    background-color: var(--red);
    color: var(--red);
}

.product_green {
    background-color: var(--green);
    color: var(--green);
}

.product_yellow {
    background-color: var(--yellow);
    color: var(--yellow);
}

.product_white {
    background-color: white;
    color: white;
}

.product_gray {
    background-color: gray;
    color: gray;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
